.list {
  display: flex;
  align-items: center;
  height: 64px;
  margin-bottom: 10px;
  line-height: 64px;
  border-bottom: 1px solid #eee;
  .list-item {
    height: 100%;
    padding: 0 15px;
    cursor: pointer;
    &:hover {
      background: #ccc;
    }
    &.active {
      background: #ccc;
    }
  }
}