.detail {
  height: 100%;
  .detail-info {
    padding: 10px;
    background: #fff;
    .info-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      &.none-bottom {
        margin-bottom: 0;
      }
      label {
        width: 100px;
        padding-right: 10px;
        text-align-last: justify;
      }
    }
  }
  .detail-content {
    height: 860px;
    background: #fff;
  }
  .detail-comment {
    overflow: auto;
    max-height: 560px;
  }
}
